
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>Pessoa Id</b>
</div>
<div>
    @ViewData["PessoaId"];
</div>

<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"];
</div>

<div>
    <b>Tipo</b>
</div>
<div>
    @ViewData["Tipo"];
</div>

<a href="~/">Voltar</a>
